@import "config";
@import "mixin";
@import url($font-src);
// BASE STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}

a,
p,
li,
button,
input,
label {
  font-family: $font-body;
  @include fluid-type($mobile, $small-laptop, $body-sm, $body-md);
}

// APP STYLES

.container {
  width: 100vw;
  min-height: 100vh;

  @include flexy(center, center);

  .calculator {
    width: 90%;
    max-width: $app-w;
    background-color: $white;
    box-shadow: $ambient-light;
    border-radius: $bdr-radius;
    position: relative;

    .progress {
      position: absolute;
      width: 100%;
      height: 14px;
      background-color: $primary300;
      border-top-left-radius: $bdr-radius;
      border-top-right-radius: $bdr-radius;
      box-shadow: $direct-light;

      &__inner {
        height: 100%;
        width: 25%;
        background: $primary500;
        border-top-left-radius: $bdr-radius;
      }
    }

    &__header {
      width: 100%;
      padding: $pm-lg $pm-md;

      &--title {
        @include fluid-type(
          $mobile,
          $small-laptop,
          $heading-secondary,
          $heading-primary
        );
        color: $grey900;
        text-align: left;
        font-weight: $bold;
      }
    }

    &__form {
      padding: 0 30px;

      &--label {
        display: block;
        margin-bottom: $pm-sm;
        color: $grey800;
        font-weight: $bold;
      }

      &--input {
        margin: 0.75rem 0;
        width: 100%;
        border: none;
        box-shadow: $ambient-light;
        background-color: $grey100;
        color: $grey200;
        border-radius: $bdr-radius;
        padding: $pm-sm;
        outline: none;
        margin-bottom: $pm-lg;
      }

      &--reset {
        color: $primary500;
        font-size: 16px;
        width: 100%;
        text-align: right;
        font-weight: $bold;
        margin: 1rem 0 1.25rem 0;
        cursor: pointer;
      }
    }

    &__footer {
      @include flexy(center, center);
      padding: 0 $pm-md $pm-md 0;
      border-bottom-left-radius: $bdr-radius;
      border-bottom-right-radius: $bdr-radius;

      &--btn {
        background: $primary500;
        margin-left: $pm-lg;
        border-radius: $bdr-radius;
        width: 200px;
        height: 50px;
        border: none;
        color: $grey100;
        font-size: $body-md;
        box-shadow: $direct-light, $ambient-light;
        cursor: pointer;
        @include flexy(center, center);
      }
    }
  }
}
